@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dae0e6;
  display: flex;
  justify-content: center;
}

header {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  height: 6vh;
}

.img-logo {
  width: 8.5rem;
  height: 75%;
  margin-left: 2vw;
  object-fit: cover;
}

.search-input {
  display: flex;
  width: 40%;
  height: 90%;
  background-color: #dae0e648;
  justify-content: space-around;
}

.search-input:hover {
  border: 0.5px solid #2b9cf3;
  background-color: #ffff;
}

.search-field {
  outline: none;
  padding: 0.5rem;
  width: 92%;
  border: none;
  font-size: 16px;
  background-color: #dae0e609;
}

.fa-search {
  padding: 0.5em 0.2em 0.3em 0.2em;
  font-size: 22px;
  opacity: 0.7;
}

.login-signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  height: 100%;
  margin-right: 2vw;
}

.log-btn,
.sign-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 8.5rem;
  background-color: white;
  color: #0b7ed5;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  border-radius: 30px;
  border: 1.5px solid #0b7ed5;
  cursor: pointer;
  text-decoration: none;
}

.sign-btn {
  background-color: #0b7ed5;
  color: #ffff;
}

.log-btn:hover {
  background-color: #0b7dd512;
}

.sign-btn:hover {
  background-color: #0b7dd5cd;
}

.fa-user {
  opacity: 0.6;
  font-size: 30px;
  display: block;
  cursor: pointer;
}

.login-hamb {
  display: inline-block;
}

@media (max-width: 750px) {
  .fa-user {
    padding: 9px 15px 2px 20px;
  }
  .log-btn {
    display: none;
  }
  .sign-btn {
    display: none;
  }
  .search-input {
    width: 70%;
  }
}

@media (max-width: 600px) {
  .fa-user {
    padding: 9px;
  }
}

.main {
  width: 70%;
  position: absolute;
  top: 15vh;
}
.TrendingTopics {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  width: 100%;
}

.topicContainer {
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-right: 10px;
  width: 25%;
  height: 200px;
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  flex-wrap: wrap;
  font-size: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.readMore {
  padding: 10px;
}
.data {
  z-index: 10;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0px 5px 5px 5px;
}

.topicDetails {
  display: flex;
}
.overview {
  padding-top: 1rem;
  text-align: justify;
}
.Loading-container {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Loading-container img {
  height: 10vh;
  width: 10vw;
}
.hidden {
  display: none;
}
.readMore {
  text-decoration: none;
}
@media (max-width: 750px) {
  .TrendingTopics {
    flex-direction: column;
  }
  .data {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .TrendingTopics {
    display: none;
  }
}
li {
  list-style: none;
  width: 60%;
  margin-top: 5vh;
  font-family: "Roboto", sans-serif;
}
.post-wrapper-light {
  display: flex;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
.content-wrapper-light {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  border-left: 1px solid rgb(235, 237, 240);
  padding: 8px;
  min-width: 0px;
}

.title-wrapper-light {
  display: flex;
}

.title-wrapper-light a {
  transition: color 0.1s ease 0s;
  text-underline-position: under;
  text-decoration: none;
  color: rgb(69, 79, 91);
}

.title-wrapper-light * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  font-size: 15px;
  line-height: 21px;
  font-weight: 900;
  text-decoration: none;
  color: rgb(69, 79, 91);
}

.title-wrapper-light a:hover {
  color: rgb(24, 144, 255);
}

.post-text-wrapper-light {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 800px;
  padding-bottom: 1px;
  font-size: 13px;
  line-height: 19px;
  color: rgb(129, 142, 153);
}

.detail-wrapper-light {
  font-size: 13px;
  margin-top: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.detail-wrapper-light > * {
  margin-right: 4px;
}

.detail-wrapper-light > a {
  transition: color 0.1s ease 0s;
  text-underline-position: under;
  text-decoration: none;
  color: rgb(69, 79, 91);
}

.detail-wrapper-light > a:hover {
  color: rgb(24, 144, 255);
}

.detail-wrapper-light > span {
  color: rgb(129, 142, 153);
}

.owner-light {
  transition: color 0.1s ease 0s;
  text-underline-position: under;
  text-decoration: none;
  font-weight: 800;
  color: rgb(69, 79, 91);
}
.component-wrapper-light {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 30px;
  padding: 4px;
  font-size: 12px;
  line-height: 25px;
  font-weight: 500;
  text-align: center;
  color: rgb(69, 79, 91);
}

.not-vote-button-light {
  transition: background-color 0.1s ease 0s;
  border: 0px;
  border-radius: 3px;
  height: 22px;
  width: 22px;
  background-color: transparent;
  cursor: pointer;
  --iconColor: #b6b6b6;
}

.vote-button-light:hover {
  transition: background-color 0.1s ease 0s;
  background-color: rgb(226, 252, 224);
}

.not-vote-button-light:hover {
  transition: background-color 0.1s ease 0s;
  background-color: rgb(226, 252, 224);
}

.vote-button-light {
  transition: background-color 0.1s ease 0s;
  border: 0px;
  border-radius: 3px;
  height: 22px;
  width: 22px;
  background-color: transparent;
  cursor: pointer;
  --iconColor: #f9920b;
}

.vote-button-light::after {
  border-top: 2px solid var(--iconColor);
  border-right: 2px solid var(--iconColor);
  top: 3px;
  transition: border 0.1s ease 0s;
  content: "";
  left: 6px;
  display: block;
  transform: rotate(-45deg);
  width: 8px;
  height: 8px;
}

.not-vote-button-light::after {
  border-top: 2px solid var(--iconColor);
  border-right: 2px solid var(--iconColor);
  top: 3px;
  transition: border 0.1s ease 0s;
  content: "";
  left: 6px;
  display: block;
  transform: rotate(-45deg);
  width: 8px;
  height: 8px;
}

.not-unvote-button-light {
  transition: background-color 0.1s ease 0s;
  border: 0px;
  border-radius: 3px;
  height: 22px;
  width: 22px;
  background-color: transparent;
  cursor: pointer;
  --iconColor: #b6b6b6;
}

.unvote-button-light {
  transition: background-color 0.1s ease 0s;
  border: 0px;
  border-radius: 3px;
  height: 22px;
  width: 22px;
  background-color: transparent;
  cursor: pointer;
  --iconColor: #f9920b;
}

.not-unvote-button-light:hover {
  transition: background-color 0.1s ease 0s;
  background-color: rgb(255, 221, 221);
}

.unvote-button-light:hover {
  transition: background-color 0.1s ease 0s;
  background-color: rgb(255, 221, 221);
}

.unvote-button-light::after {
  border-bottom: 2px solid var(--iconColor);
  border-left: 2px solid var(--iconColor);
  top: -2px;
  transition: border 0.1s ease 0s;
  content: "";
  left: 6px;
  display: block;
  transform: rotate(-45deg);
  width: 8px;
  height: 8px;
}

.not-unvote-button-light::after {
  border-bottom: 2px solid var(--iconColor);
  border-left: 2px solid var(--iconColor);
  top: -2px;
  transition: border 0.1s ease 0s;
  content: "";
  left: 6px;
  display: block;
  transform: rotate(-45deg);
  width: 8px;
  height: 8px;
}
.right {
  width: 30%;
  margin-top: 7vh;
}
.communities-near {
  position: absolute;
  right: 0;
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 30%;
  border-radius: 5px;
}
.part-title {
  background-image: url("https://i.pinimg.com/564x/05/52/21/0552219bd2e3489729ad2acffb5ade9e.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding: 15px;
}
.communities-near .item {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-bottom: 1px solid #d6d6d6;
}
.communities-near .item img {
  width: 35px;
  height: 35px;
  margin: 0 25px;
}
.top-news {
  background-image: url("https://i.pinimg.com/564x/2f/58/6b/2f586bb04b9acf65f93d562009ca82e4.jpg");
}
.communities-near .item i {
  margin: 0 25px;
  color: #71ea69;
}
.communities-near .list {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
.communities-near .list li {
  background-color: f5f3f3;
  padding: 5px;
}
.btn {
  height: 35px;
  margin: 15px;
}
.lists {
  display: flex;
  align-items: flex-start;
  padding: 5px 10px;
}
.list-all {
  list-style: none;
  margin-left: 15px;
  line-height: 1.7;
  font-size: 14px;
}
.list-all li {
  margin-top: 0;
}
.form-popup {
  display: flex;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding-top: 5px;
  overflow: auto;
  background-color: rgba(128, 128, 128, 0.603);
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  font-family: "Roboto", sans-serif;
  color: #000000;
  border: 0.5px solid #949494;
  border-radius: 10px;
}

#postName {
  margin-left: 1vw;
  width: 40%;
  height: 5%;
  padding: 1vw;
  margin-left: 5vw;
  margin-top: 5vh;
  border: 0.5px solid #949494;
  border-radius: 10px;
  font-size: 2rem;
}
#postContent {
  margin-left: 1vw;
  width: 60%;
  height: 30%;
  border: 0.5px solid #949494;
  border-radius: 10px;
  font-size: 1rem;
  padding: 1vw;
  margin-top: 2vh;
  margin-left: 5vh;
}
.form-popup button {
  width: 60%;
  height: 7%;
  background-color: black;
  color: white;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 5vh;
}
