@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #DAE0E6;
    display:flex;
    justify-content:center;
}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 6vh;
}

.img-logo {
    width: 8.5rem;
    height: 75%;
    margin-left: 2vw;
    object-fit: cover;
}

.search-input {
    display: flex;
    width: 40%;
    height: 90%;
    background-color: #dae0e648;
    justify-content: space-around;
}

.search-input:hover {
    border: .5px solid #2b9cf3;
    background-color: #ffff;
}

.search-field {
    outline: none;
    padding: 0.5rem;
    width: 92%;
    border: none;
    font-size: 16px;
    background-color: #dae0e609;
}

.fa-search {
    padding: 0.5em 0.2em 0.3em 0.2em;
    font-size: 22px;
    opacity: 0.7;
}

.login-signup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    height: 100%;
    margin-right: 2vw;
}

.log-btn,
.sign-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 8.5rem;
    background-color: white;
    color: #0b7ed5;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    border-radius: 30px;
    border: 1.5px solid #0b7ed5;
    cursor: pointer;
    text-decoration: none;
}

.sign-btn {
    background-color: #0b7ed5;
    color: #ffff;
}

.log-btn:hover {
    background-color: #0b7dd512;
}

.sign-btn:hover {
    background-color: #0b7dd5cd;
}

.fa-user {
    opacity: 0.6;
    font-size: 30px;
    display: block;
    cursor: pointer;
}

.login-hamb {
    display: inline-block;
}

@media (max-width: 750px) {
    .fa-user {
        padding: 9px 15px 2px 20px;
    }
    .log-btn {
        display: none;
    }
    .sign-btn {
        display: none;
    }
    .search-input {
        width: 70%;
    }
}

@media (max-width: 600px) {
    .fa-user {
        padding: 9px;
    }
}

.main {
    width: 80%;
    position: absolute;
    top: 15vh;
}
.TrendingTopics {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: 100%;
}

.topicContainer {
    background-color: #1A2129;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 70vw;
    height: 50vh;
}

.topicDetails{
    display: flex;
}
.overview {
    padding-top: 2rem;
    height: 10px;
    text-align: justify;
}
